#extends markdown
snippet w "Title Block" b
Title: ${1:`!p snip.rv = fn.rstrip('.md').replace('-', ' ')`}
Date: `!v strftime("%Y-%m-%d %H:%M")`
Tags: ${2}

------------------------
${0}
endsnippet
snippet wd "Diary Title Block" b
# ${1:`!p snip.rv = fn.rstrip('.md').replace('-', ' ')`}
Tags: ${2}
------------------------
${0}
endsnippet
#URL: `!p snip.rv ='' if not fn else fn.strip().rstrip('.md').replace(' ', '-')`

snippet l "Insert Link"
[${1:${VISUAL}}](${1/ /-/g})$0
endsnippet

#snippet t
#<tag>${1}${VISUAL:inside text/should/is/g}</tag>
#endsnippet

snippet c "Insert code block" b
\`\`\`${0}
\`\`\`
endsnippet

snippet line "Insert line" b
-------------------------------------------
${0}
endsnippet
snippet line2 "Insert line2" b
---------------
${0}
endsnippet
snippet bulb "💡" b
💡${0}
endsnippet
snippet good "👍" b
👍${0}
endsnippet
snippet bad "👎" b
👎${0}
endsnippet
snippet pill "💊" b
💊${0}
endsnippet
snippet bomb "💣" b
💣${0}
endsnippet
snippet pushpin "📌" b
📌${0}
endsnippet
snippet cross "❌" b
❌${0}
endsnippet
snippet joy "😂" b
😂${0}
endsnippet
snippet pointright "👉" b
👉${0}
endsnippet
snippet check "✅" b
✅${0}
endsnippet
snippet q "question 💡" b
### 💡${0}
endsnippet
