let mapleader=" "
set showmode
set surround
set number
set hls
set history=1000
vmap <C-C> "+y<Esc>
inoremap <C-a> <C-o>^
inoremap <C-e> <End>
inoremap <C-f> <Right>
inoremap <C-b> <Left>
" 复制粘贴
vnoremap <Leader>y "+y
vnoremap <Leader>d "+d
nnoremap <Leader>p "+p
nnoremap <Leader>P "+P
vnoremap <Leader>p "+p
vnoremap <Leader>P "+P

"inoremap <C-A-c> {@code }<C-o>h
"S-Esc
"A-7 structure
"nmap csw' :action Macro.surround_with_single_quote<CR>

"nnoremap <c-y>, :action Emmet<CR>
"c-a-t SurroundWith
noremap <c-y>n :action EmmetNextEditPoint<CR>
noremap <c-y>N :action EmmetPreviousEditPoint<CR>
nnoremap K :action GotoDeclaration<CR>
nnoremap <c-p> :action GotoFile<CR>
nnoremap <leader>fu :action FindUsages<CR>
nnoremap <Leader>fg :action FindInPath<CR>
nnoremap <Leader>ff :action Find<CR>

nnoremap <Leader>nj :action NewJavaScriptFile<CR>
" comment
nnoremap <Leader>ci :action CommentByLineComment<CR>
nnoremap <Leader>cl :action CommentByLineComment<CR>
nnoremap <Leader>cs :action CommentByBlockComment<CR>
vnoremap <Leader>ci :action CommentByLineComment<CR>
vnoremap <Leader>cl :action CommentByLineComment<CR>
vnoremap <Leader>cs :action CommentByBlockComment<CR>

"External Tool
nnoremap <Space>ef :action ReformatCode<CR>

set easymotion
nnoremap <leader>vs :source ~/.ideavimrc<CR>
" easymotion
set easymotion